<div class="alert alert-block alert-success">
    
 # Berkeley- PCMLAI: Module 1
    
 üë®‚Äçüè´ **Vikesh K**      
 #Ô∏è‚É£ **OH-01**
  

</div>

# Case Study: Prioritise Product Development work

![grubhub.png](attachment:grubhub.png)


Given the below data which state should we focus our only available product development team on?

Respond with your answer and reasoning. Where you don't have enough data to make a decision, make assumptions and list
them in your response.

**Data Dictionary**

- `total_orders`: online food orders placed on grubhub.com
- `visits`:  the number of unique times people have gone to grubhub.com
- `revenue`: the amount of money we are making

**Company Details**

Grubhub is a part of Just Eat Takeaway.com, a leading global online food delivery marketplace, and features more than 365,000 restaurant partners in over 4,000 U.S. cities.

![image.png](attachment:image.png)

# Loading the Data Set

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
url = 'https://raw.githubusercontent.com/vkoul/data/main/misc/online_orders.csv'
df = pd.read_csv(url)

In [5]:
df.head()

       date state  total_orders  revenue  visits
0  1/1/2014    CA           411 10369.53   17633
1  1/2/2014    CA           347  8754.81   15949
2  1/3/2014    CA           522 13170.06   11731
3  1/4/2014    CA           635 16021.05   16728
4  1/5/2014    CA           214  5399.22   12570

In [7]:
df.sample(10)

          date state  total_orders    revenue   visits
676  5/14/2014    IA         20033 6823640.46  1534496
351  6/20/2014    IL         21906  484341.66   177876
427   3/7/2014   NYC         14198 1315018.76   213361
142  5/23/2014    CA           538   13573.74    23487
331  5/31/2014    IL         18455  408040.05   149437
483   5/2/2014   NYC         19040 2829724.80   284233
402  2/10/2014   NYC         16032 1084083.84   254527
598  2/25/2014    IA         21330 5601684.60  1673365
499  5/18/2014   NYC         21184 3487310.08   402423
13   1/14/2014    CA           640   16147.20    26899